<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />        
        <add key="Devexpress" value="https://nuget.devexpress.com/YGKpsdElVR2u1XH9GZj176xVnecWGKPDqNY2F9bzfa2ZSTSATp/api" />
    </packageSources>
</configuration>